<a href="https://colab.research.google.com/github/dkare001/dkare001-CSC221_Spring/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
#Personal try it myself
athletes = ['Lebron James','Ronldo','Serena Williams']
for athlete in athletes:
  print(athlete)
  print(f'{athlete.title()}, is a great athlete')
  print(f'I am looking to seeing {athlete} play.\n')

print(f'Thank you, for the wooonderful performance!')

Lebron James
Lebron James, is a great athlete
I am looking to seeing Lebron James play.

Ronldo
Ronldo, is a great athlete
I am looking to seeing Ronldo play.

Serena Williams
Serena Williams, is a great athlete
I am looking to seeing Serena Williams play.

Thank you, for the wooonderful performance!

In [16]:
celebs = ['jaden smith','will smith','willow smith','jada smith']
for celebs in celebs:
  print(celebs)

jaden smith
will smith
willow smith
jada smith

In [35]:
#4-1. Pizzas:
pizzas = ['Cheese pizza','Beef Pizza','Mushroom Pizza']
for pizza in pizzas:
  print(pizza)
  print(f'I love {pizza}\n')
print('I really love pizzas!')

Cheese pizza
I love Cheese pizza

Beef Pizza
I love Beef Pizza

Mushroom Pizza
I love Mushroom Pizza

I really love pizzas!

In [39]:
#4-2. Animals:
mammals = ['dog','cat','whale']
for mammal in mammals:
  print(f'{mammal}')
  print(f"{mammal}'s are great animals\n")
print("These animals are all mammals")

dog
dog's are great animals

cat
cat's are great animals

whale
whale's are great animals

These animals are all mammals

In [9]:
#4-3. Counting to Twenty:
for value in range(1,21):
  print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [12]:
#4-4. One Million:
numbers = list(range(1,1000001))
print(numbers)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [20]:
#4-5. Summing a Million:
numbers = list(range(1,1000001))
print(min(numbers))
print(max(numbers))
sum(numbers)

1
1000000

500000500000

In [24]:
#4-6. Odd Numbers:
numbers = list(range(1,21,2))
print(numbers)

for number in numbers:
  print(number)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
1
3
5
7
9
11
13
15
17
19

In [34]:
#4-7. Threes:
numbers = list(range(3,31,3))
for number in numbers:
  print(number)

3
6
9
12
15
18
21
24
27
30

In [36]:
#4-8. Cubes:
cubes = list(range(1,11,))

for cube in cubes:
  print(cube**3)

1
8
27
64
125
216
343
512
729
1000

In [37]:
#4-9. Cube Comprehension:
cubes = [value**3 for value in range(1,11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [77]:
#Personal tryout
students = ['chris','john','jonny','abby','sam']
students_in_lab = students[0:4]

students_in_lab.append('jessica')
students.append('rebecca')

print(f'{students[0:6]}\n')
print("Here are the students in my classs")


for student in students[0:3]:
  print(student.title())

print(students)
print(students_in_lab)

['chris', 'john', 'jonny', 'abby', 'sam', 'rebecca']

Here are the students in my classs
Chris
John
Jonny
['chris', 'john', 'jonny', 'abby', 'sam', 'rebecca']
['chris', 'john', 'jonny', 'abby', 'jessica']

In [91]:
#4-10. Slices:
students = ['chris','john','jonny','abby','sam']

print(f'The firt three items in the list are {students[0:3]}')
print(f'The three items in the middle of the list are {students[1:4]}')
print(f'The last three items in the list are {students[-3:]}')

The firt three items in the list are ['chris', 'john', 'jonny']
The three items in the middle of the list are ['john', 'jonny', 'abby']
The last three items in the list are ['jonny', 'abby', 'sam']

In [107]:
#4-11. My Pizzas, Your Pizzas:
pizzas = ['Cheese pizza','Beef Pizza','Mushroom Pizza']
friend_pizzas = pizzas[:]

pizzas.append('Chicken Pizza')
friend_pizzas.append('Veggie Pizza')

print(friend_pizzas)
print(pizzas)

for pizza in pizzas:
  print(f'My favorite pizzas are {pizzas}')
  print(f' My favorite pizzs are {friend_pizzas}')

['Cheese pizza', 'Beef Pizza', 'Mushroom Pizza', 'Veggie Pizza']
['Cheese pizza', 'Beef Pizza', 'Mushroom Pizza', 'Chicken Pizza']
My favorite pizzas are ['Cheese pizza', 'Beef Pizza', 'Mushroom Pizza', 'Chicken Pizza']
 My favorite pizzs are ['Cheese pizza', 'Beef Pizza', 'Mushroom Pizza', 'Veggie Pizza']
My favorite pizzas are ['Cheese pizza', 'Beef Pizza', 'Mushroom Pizza', 'Chicken Pizza']
 My favorite pizzs are ['Cheese pizza', 'Beef Pizza', 'Mushroom Pizza', 'Veggie Pizza']
My favorite pizzas are ['Cheese pizza', 'Beef Pizza', 'Mushroom Pizza', 'Chicken Pizza']
 My favorite pizzs are ['Cheese pizza', 'Beef Pizza', 'Mushroom Pizza', 'Veggie Pizza']
My favorite pizzas are ['Cheese pizza', 'Beef Pizza', 'Mushroom Pizza', 'Chicken Pizza']
 My favorite pizzs are ['Cheese pizza', 'Beef Pizza', 'Mushroom Pizza', 'Veggie Pizza']

In [112]:
#4-12. More Loops:
pizzas = ['Cheese pizza','Beef Pizza','Mushroom Pizza']
friend_pizzas = pizzas[:]

pizzas.append('Chicken Pizza')
friend_pizzas.append('Veggie Pizza')

print(friend_pizzas)
print(pizzas)

for pizza in pizzas:
  print(f'My favorite pizzas are {pizza}\n')

for friend_pizza in friend_pizzas:
  print(f'My favorite pizzs are {friend_pizza}\n')

['Cheese pizza', 'Beef Pizza', 'Mushroom Pizza', 'Veggie Pizza']
['Cheese pizza', 'Beef Pizza', 'Mushroom Pizza', 'Chicken Pizza']
My favorite pizzas are Cheese pizza

My favorite pizzas are Beef Pizza

My favorite pizzas are Mushroom Pizza

My favorite pizzas are Chicken Pizza

My favorite pizzs are Cheese pizza

My favorite pizzs are Beef Pizza

My favorite pizzs are Mushroom Pizza

My favorite pizzs are Veggie Pizza

In [120]:
#4-13. Buffet:
foods = ('shrimp','chicken','fish','beef','pork')
for food in foods:
  print(food.title())

foods = ('lamb','chicken','salmon','beef','pork')
for food in foods:
  print(f'\n{food.title()}')

Shrimp
Chicken
Fish
Beef
Pork

Lamb

Chicken

Salmon

Beef

Pork

In [121]:
#4-15. Code Review:

#Original buffet foods
foods = ('shrimp','chicken','fish','beef','pork')
for food in foods:
  print(food.title())

#Altered buffet foods
foods = ('lamb','chicken','salmon','beef','pork')
for food in foods:
  print(f'\n{food.title()}')

#Items in friends pizza and pizzas
pizzas = ['Cheese pizza','Beef Pizza','Mushroom Pizza']
friend_pizzas = pizzas[:]
pizzas.append('Chicken Pizza')
friend_pizzas.append('Veggie Pizza')

#printed items in both pizza lists
print(friend_pizzas)
print(pizzas)

#message for list in pizzas
for pizza in pizzas:
  print(f'My favorite pizzas are {pizza}\n')

#message for lists in friends pizza
for friend_pizza in friend_pizzas:
  print(f'My favorite pizzs are {friend_pizza}\n')

Shrimp
Chicken
Fish
Beef
Pork

Lamb

Chicken

Salmon

Beef

Pork

In [146]:
#Question 2
def factorial(n):
    numbers = list(range(1, n + 1))
    product = 1
    for number in numbers:
        product *= number
    return product

print(factorial(5))
print(factorial(10))
print(factorial(20))
print(factorial(50))

#Question 3
def special_factorial(n):
    numbers = list(range(1, n + 1))

    for num in [4, 13, 22]:
        if num in numbers:
            numbers.remove(num)

    product = 1
    for number in numbers:
        product *= number
    return product

print(special_factorial(5))
print(special_factorial(10))
print(special_factorial(20))
print(special_factorial(50))

120
3628800
2432902008176640000
30414093201713378043612608166064768844377641568960512000000000000
30
907200
46786577080320000
26585745805693512275885146998308364374455980392448000000000000