<a href="https://colab.research.google.com/github/dkare001/dkare001-CSC221_Spring/blob/main/Class3_Live.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
a = 13
b = 12.5
c = 'fred'

print(a,b,c)

print(type(a))
print(type(b))
print(type(c))

13 12.5 fred
<class 'int'>
<class 'float'>
<class 'str'>

In [5]:
b = a**123
print(type(b), b)

<class 'int'> 103521923711427330139508660561111399310356231562909825053544787423528887795603512927942762680653876132399975884814583882073552996857463797

In [6]:
f2 = 1/3
print(f2)

0.3333333333333333

In [7]:
print(1/11)

0.09090909090909091

In [8]:
print(c)

fred

In [10]:
#A-Za-z_ foloowed by 09-A-Z-z_
_3abc=12

In [14]:
#Good and Bad Varable Names
age_In_Years=20
last_name='Kareem'
first_name= 'Dares'

print(f'age_in_years ={age_In_Years} and 4 squared is {4**2}')

age_in_years =20 and 4 squared is 16

In [23]:
#Intro to functions and Objects
def f1(x):
  y = 3 * x +2
  return y

def f2(x):
  print(f'Hi I\'m f2 and I got {x}')

def f3(x):
  print(f"Hi I'm f3 and I got {x}")

y = f1(12)
print(y)

f2(12)
f3(21)

38
Hi I'm f2 and I got 12
Hi I'm f3 and I got 21

In [26]:
#Example Roll one Die 200 times What sum do you get??
import random

def roll():
  r = random.randint(1,6)
  return r

for i in range(20):
  print(i,roll())

0 4
1 4
2 6
3 4
4 3
5 2
6 5
7 6
8 6
9 1
10 2
11 5
12 2
13 5
14 3
15 1
16 6
17 1
18 3
19 3
20 5
21 1
22 2
23 3
24 2
25 5
26 1
27 5
28 5
29 5
30 5
31 3
32 3
33 4
34 2
35 3
36 3
37 1
38 1
39 1
40 4
41 2
42 4
43 6
44 1
45 3
46 5
47 2
48 4
49 5
50 5
51 2
52 3
53 2
54 2
55 1
56 4
57 2
58 1
59 6
60 2
61 3
62 4
63 3
64 3
65 3
66 4
67 2
68 5
69 3
70 5
71 5
72 5
73 1
74 1
75 4
76 1
77 3
78 1
79 6
80 6
81 6
82 1
83 1
84 5
85 5
86 3
87 2
88 6
89 1
90 4
91 1
92 3
93 5
94 6
95 3
96 2
97 5
98 4
99 2
100 4
101 4
102 4
103 3
104 2
105 2
106 1
107 5
108 6
109 4
110 3
111 1
112 2
113 1
114 3
115 6
116 6
117 6
118 4
119 4
120 3
121 3
122 5
123 1
124 1
125 5
126 3
127 1
128 1
129 3
130 4
131 1
132 2
133 6
134 3
135 3
136 2
137 2
138 3
139 3
140 2
141 6
142 2
143 4
144 3
145 4
146 2
147 3
148 1
149 1
150 2
151 1
152 4
153 5
154 6
155 6
156 1
157 3
158 1
159 3
160 6
161 2
162 3
163 5
164 3
165 3
166 6
167 2
168 1
169 4
170 3
171 6
172 5
173 1
174 3
175 5
176 3
177 6
178 5
179 3
180 4
181 2
182 1
183 3
184 3
185 1
186 2
187 6
188 5
189 5
190 4
191 6
192 3
193 5
194 4
195 5
196 1
197 1
198 6
199 5

In [32]:
#Example Roll one Die 200 times What sum do you get??
import random

def roll():
  r = random.randint(1,6)
  return r

def roll_n_times(n):
  total = 0
  for i in range(n):
    r1=roll
    total = total + r1
    #print(i,r1)
  return total

t1 = roll_n_times(5)
t2 = roll_n_ties(200)

TypeError: unsupported operand type(s) for +: 'int' and 'function'

# *Ned Lecky*
*Class 3*
##*Live 2/5/2024*