<a href="https://colab.research.google.com/github/dkare001/dkare001-CSC221_Spring/blob/main/Quiz_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#def
def age_calc(birth_year,current_year = 2024):
  age = int(current_year) - int(birth_year)
  print(f'In the year,{current_year}, you will be {age}. ')
age_calc(2003)
age_calc(2003, 2026)

In [4]:
#import
import math

pi_value = math.pi

print(f"Pi is {pi_value}")

Pi is 3.141592653589793

In [9]:
#Class
class Cat:

  def __init__(self, name):
    self.name = name

my_cat = Cat('James')

print(f"My cats name is {my_cat.name}.")

My cats name is James.

In [10]:
#for
celebs = ['jaden smith','will smith','willow smith','jada smith']
for celebs in celebs:
  print(celebs)

jaden smith
will smith
willow smith
jada smith

In [14]:
#try
try:
    number = int(input("Enter a number: "))
    print(f"Your number is {number}")
except ValueError:
    print("That's not a valid number.")

Enter a number: ouorb
That's not a valid number.

In [ ]:
#except
try:
    name = input("Enter your name: ")
    print(f"Hello, {name}!")
except ValueError:
    print("Invalid input.")

In [15]:
#if
age = int(input('How old are you? '))

if age < 2:
  print('You are a baby. ')

How old are you? 1
You are a baby.

In [16]:
#elif
age = int(input('How old are you? '))

if age < 2:
  print('You are a baby. ')
elif age >= 2 and age < 4:
  print('You are a todler.')
elif age >= 4 and age < 13:
  print('You are a kid.')

How old are you? 4
You are a kid.

In [19]:
#global
students = 0

def add_student(number):
    global students
    students += number

print("Starting students:", students)

add_student(1)

print("New students:", students)

Startingstudents: 0
New students: 1

In [26]:
#return
def interest(amount):
    return amount * amount

result = interest(5)

print("the interst of a $50 loand is:", result)

the interst of a $50 loand is: 25

In [27]:
#break
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num == 3:
        break
    print(num)

1
2

In [34]:
#while
number = 10

while number > 0:
    print("Number:", number)
    number -= 3

Number: 10
Number: 7
Number: 4
Number: 1

In [36]:
#True
done = True

if done:
    print("It is done")
else:
    print("Not done.")

It is done

In [ ]:
#False
done = False

if done:
    print("It is done")
else:
    print("Not done.")

In [37]:
#None
value = None

if value is None:
    print("The value is None.")
else:
    print("The value is not None.")

The value is None.

In [39]:
#and
x = 6
y = 12

if x > 0 and y > 0:
    print(" x and y are positive.")
else:
    print("x or y is not positive.")

 x and y are positive.

In [40]:
#as
import math as m

pi_value = m.pi

print(f"Pi is {pi_value}")

Pi is 3.141592653589793

In [52]:
# del
def remove_student(names, students_left):
    if students_left in names:
        del names[names.index(students_left)]
        print(students_left, "Left.")
    else:
        print(students_left, "Not here.")

student_list = ["Dares", "Ken", "Ben", "Mo"]
remove_student(student_list, "Ken")
print(f"Students remaining are {student_list}")

Ken Left.
Students remaining are ['Dares', 'Ben', 'Mo']

In [53]:
# from
from math import pi

print("Pi is", pi)

Pi is 3.141592653589793

In [55]:
#in
class_students = ["Dares", "Ben", "Kal", "Mo"]

student_name = "Kal"
if student_name in class_students:
    print(student_name, "is present.")
else:
    print(student_name, "is not present.")

Kal is present.

In [57]:
# is
x = [1, 2, 3]
y = x

if x is y:
    print("x and y are  the same")
else:
    print("x and y are different.")

x and y are  the same

In [61]:
#yield
def add_student(n):
    for i in range(1, n + 1):
        yield i ** 2

for num in add_student(5):
    print(f"New total student {num}")

New total student 1
New total student 4
New total student 9
New total student 16
New total student 25

In [70]:
#with
docs = "text.txt"

with open(docs, "w") as file:
    file.write("My name is Dares.")

with open(docs, "r") as file:
    content = file.read()
    print(content)

My name is Dares.

In [73]:
#assert
def divide(a, b):
    assert b != 0, "Division by zero is not allowed."
    return a / b

print(divide(10, 2))
print(divide(5, 0))

5.0

AssertionError: Division by zero is not allowed.

In [81]:
# Async
import asyncio

async def greet():
    print("Dares ")
    await asyncio.sleep(1)
    print("Kareem")

async def main():
    await greet()

await(main())

Dares
Kareem

In [ ]:
# Await
import asyncio

async def greet():
    print("Dares ")
    await asyncio.sleep(1)
    print("Kareem")

async def main():
    await greet()

await(main())

In [84]:
# finally
try:
    file = open("example.txt", "r")
    content = file.read()
    print("File content:", content)
except FileNotFoundError:
    print("File not found.")
finally:
    if 'file' in locals():
        file.close()
        print("File closed.")

print("Code continues.")

File not found.
File closed.
Code continues.

In [85]:
# raise
def check_age(age):
    if age < 0:
        raise ValueError("What would you like to watch.")
    elif age < 18:
        raise ValueError("You are too young.")
    else:
        print("You can watch.")

try:
    check_age(20)
except ValueError as e:
    print("Error:", e)

You can watch.

In [88]:
#nonlocal
def counter():
    count = 0

    def increment():
        nonlocal count
        count += 2
        return count
    return increment

counter_func = counter()

for _ in range(5):
    print("Count:", counter_func())

Count: 2
Count: 4
Count: 6
Count: 8
Count: 10

In [93]:
#lambda
interest = lambda x: x ** 0.5

rate = 5
debt = interest(rate)

print("The interst rate of a", rate, "dollar loan is", debt)

The interst rate of a 5 dollar loan is 2.23606797749979

In [94]:
#continue
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in numbers:
    if num % 2 == 0:
        continue
    print(num)

1
3
5
7
9

In [95]:
#not
number = 5

if not number == 10:
    print("The number is not equal to 10.")
else:
    print("The number is equal to 10.")

The number is not equal to 10.

In [96]:
#or
age = 65

if age >= 65 or (age >= 13 and age <= 19):
    print("You are either a senior or a teenager.")
else:
    print("You are neither a senior nor a teenager.")

You are either a senior or a teenager.

In [97]:
#pass
def function():
    pass

function()