<a href="https://colab.research.google.com/github/dkare001/dkare001-CSC221_Spring/blob/main/Quiz_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#len
fruits = ["apple", "banana", "cherry", "orange"]

amount = len(fruits)
print(f"There are {amount} fruits")

There are 4 fruits

In [12]:
#dict
id = dict(name="Dares", age="20", city="New York")
print(f"Information: {id}")

Information: {'name': 'Dares', 'age': '20', 'city': 'New York'}

In [15]:
#bin
decimal_number = 24
binary = bin(decimal_number)

print(f"Binary of {decimal_number} is {binary}")

Binary of, 24, is:, 0b11000

In [17]:
#list()
numbers = [1, 2, 3, 4, 5]
print(f"List:{numbers}")

List:[1, 2, 3, 4, 5]

In [ ]:
#print
print("Hi I am Dares")

In [28]:
#import
class Cat:
  def __init__(self, name, age):
    self.name = name
    self.age = age

my_cat = Cat('James', 12)

print(f"My cats name is {my_cat.name}.")

My cats name is James.

In [21]:
#Sum
numbers = [4, 3, 23, 4, 5]
total = sum(numbers)

print(f"Total = {total}")

Total = 39

In [26]:
#input
age = input("How old are you? ")
print(f"You are {age} years old.")

How old are you? 45
You are 45 years old.

In [31]:
#tuple
fruits = ["apple", "banana", "cherry", "orange"]
fruits_tuple = tuple(fruits)

print(f"Fuits: {fruits_tuple}")

Fuits, ('apple', 'banana', 'cherry', 'orange')

In [32]:
#range
for num in range(1, 10):
    print(num)

1
2
3
4
5
6
7
8
9

In [36]:
#reversed
names = ['Dares', 'Ben', 'Dillig', 'Mo']
reversedNames = list(reversed(names))

print(f"Names, {names}")
print(f"Reversed, {reversedNames}")

Names, ['Dares', 'Ben', 'Dillig', 'Mo']
Reversed, ['Mo', 'Dillig', 'Ben', 'Dares']

In [41]:
#format
name = "Dares"
age = 20
text = "My name is {} and I am {} years old.".format(name, age)
print(text)

My name is Dares and I am 20 years old.

In [47]:
#local
def student_info():
    name = "Dares Kareem"
    year = "Sophomore"
    student = locals()
    print(f"Student information {student}")

student_info()

Student information {'name': 'Dares Kareem', 'year': 'Sophomore'}

In [63]:
#id
person = "Dares"
person_id = id(person)

print(person)
print(person_id)

Dares
Dares

In [64]:
#globals
students = 0

def add_student(number):
    global students
    students += number

print("Starting students:", students)

add_student(1)

print("New students:", students)

Starting students: 0
New students: 1

In [70]:
#next
numbers = [1, 2, 3, 4, 5]
iterator = iter(numbers)

try:
    while True:
        value = next(iterator)
        print(value)
except StopIteration:
    print("Done")

1
2
3
4
5
Done

In [71]:
#iter
numbers = [1, 2, 3, 4, 5]
numbers_iter = iter(numbers)

for num in numbers_iter:
    print(num)

1
2
3
4
5

In [73]:
#str
print(str("Hello, world!"))

Hello, world!

In [74]:
#open
docs = "text.txt"

with open(docs, "w") as file:
    file.write("My name is Dares.")

with open(docs, "r") as file:
    content = file.read()
    print(content)

My name is Dares.

In [76]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age

student1 = Student("Dares", 20)
print(vars(student1))

{'name': 'Dares', 'age': 20}